/*------ Configuraciones globales ---- */
:root {
    /* Paleta de colores */
    --color-h: #0077B6;
    --color-p: #03045E;
    --color-primary: #00B4D8;
    --color-secundary: #90E0EF;
    --color-bg: #CAF0F8;
    --color-shadow: #333;
    /* Estilo de fuentes */
    --font-family-h: 'Montserrat',sans-serif;
    --font-weight-bold-h: 700;
    --font-family-p: 'Roboto' ,sans-serif;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    font-size: 16px;
    /*----------------------*/
    /* --colorH: #26a;
    --colorP: #101632dd;
    --colorBG: #e2eaff;
    --colorBgSec: #48e;
    --colorButton:#20b2ee;;
    --buttonHover: #20B2AA;
    --hoverShadow: #008080; */
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-- Estilo general de los H --*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-h);
    font-size: var(--font-weight-bold-h);
    letter-spacing: 0,0625rem;
    color: var(--color-h);
}
/*-- Estilo general de los parrafos --*/
p , .tooltip {
    font-family: var(--font-family-p);
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.5;
    letter-spacing: 0.0625rem;
}
/* Estilo para el scroll */
::-webkit-scrollbar {
    width: 0.750px; /* Ancho del scroll */
}
::-webkit-scrollbar-track {
    background: var(--color-bg); /* Fondo del track del scroll */
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-h); /* Color del scroll */
    border-radius: 20px; /* Bordes redondeados */
    border: 3px solid var(--color-bg); /* Para que combine mejor con el fondo */
}
/* Hover del scroll */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secundary); /* Cambia el color al interactuar */
}
/*--- Estilo básico de botón ---*/
.btn {
    background-color: var(--colorBgSec);
}
.btn a {
    text-decoration: none;
    color: var(--colorBG);
}
/*--------- Fin de las configuraciones globales ---------*/





  /*-----------------------------------------*/
 /* -------- Seccion del navbar ------------*/
/*-----------------------------------------*/
.navbar {
    position: sticky;
    padding: 5px 12px;
    top: 0;
    z-index: 1000;
    color: var(--colorButton);
    animation: 3s adaptNav both;
    animation-timeline: scroll();
    animation-range: 10px 150px;
    max-width: 100dvw   ;
}
.navbar__brand-container {
    margin-left: clamp(1px, 2vw, 30px);
}
.navbar-brand {
    padding-left: 100px;
}
.navbar .navbar-brand {
    color: inherit;
}
.navbar-brand p {
    font-size: clamp(14px, 2vw, 24px);
    letter-spacing: 1px;
    color: inherit;
    text-shadow: 1px 1px 22px var(--colorBgSec);
    transition: color 1s ease, text-shadow 1s ease;
}
.navbar-brand p:hover {
    color: var(--buttonHover);
    text-shadow: 1px 1px 22px var(--hoverShadow);
}
.navbar .navbar-toggler {
    color: inherit;
}
.navbar-toggler i {
    text-shadow: 1px 2px 22px var(--colorBgSec);
}

.navbar-toggler i:hover {
    color: var(--buttonHover);
    text-shadow: 1px 2px 22px var(--hoverShadow);
}
.navbar .navbar-nav .nav-item .nav-link {
    color: inherit;
}
.nav-link p{
    font-size: clamp(16px, 2vw, 18px);
    color: inherit;
    text-shadow: 1px 2px 22px var(--colorP);
    transition: color .5s ease, text-shadow .5s ease;
}
.nav-link p:hover {
    color: var(--buttonHover);
    text-shadow: 1px 1px 22px var(--hoverShadow);
}

/*---------- Fin de la seccion del navbar ------*/





  /*-------------------------------------------*/
 /*--------- Seccion del Wrapper ----------- */
/*-------------------------------------------*/
.portfolio__wrapper{
    background-color: var(--colorBG);
}




  /*-----------------------------*/
 /*------ Hero Section -------- */
/*-----------------------------*/
.hero__container {
    height: 100dvh;
    margin-top: 10px;
}
.hero__primary {
    animation: aparecer 3s linear 2s both;
}
.hero__info h1 {
    font-size: clamp(28px, 2vw, 40px);
}
.hero__info-hola {
    font-size: clamp(16px, 2vw, 22px);
}
/*---- boton de contacto ----*/
.btn__contact {
    font-size: clamp(18px, 2vw, 24px);
    width: 400px;
    max-width: 60%;
    background-color: var(--colorButton);
    color: var(--colorBG);
    box-shadow: 1px 1px 22px var(--colorH), 2px 4px 10px var(--colorH);
    transition: background-color 1s ease, box-shadow 1s ease;
}
.btn__contact:hover {
    background-color: var(--buttonHover);
    color: var(--colorBG);
    box-shadow: 1px 1px 22px var(--hoverShadow), 2px 4px 10px var(--hoverShadow);
}
/*--- Imagen de perfil --*/
.hero__secundary {
    height: 100%;
}
.hero__secundary h1 {
    width: clamp(22px, 2vw, 40px);
}
.hero__img-profile-container{
    position: relative;
    width: 100%;
}
.img-profile__fondo {
    width: 0%;
    height: 0%;
    background-color: var(--colorBgSec);
    border-radius: 50% 50% 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    animation: expandBackground 1s ease-out 1.7s forwards;
}
.img__profile {
    position: relative;
    max-height: 300px;
    width: 100%;
    z-index: 10;
    opacity: 0;
    animation: aparecer 1s linear .8s forwards;
}
/* ------------ Disponibilidad --------- */
.hero__disponibilidad {
    background-color: var(--colorBgSec);
    color: var(--colorBG);
    border-radius: 0 0 12px 12px;
    animation: expandBaseBG 0.5s ease-in forwards;
}
.hero__freelancer , .hero__contrato {
    margin: auto;
}
.hero__Icon-fl {
    color: var(--colorBG);
}
.hero__Icon-c {
    color: var(--colorBG);
}
/*-----------  Fin de la Hero Section ------------------*/ 





  /*-----------------------------------------------------------*/
 /* ----------------  Estilo de Proyectos --------  ----------*/
/*-----------------------------------------------------------*/
/*--- Grid de proyectos ---*/
.proyectos__container {
    min-height: 100dvh;
    margin: auto;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% contain 50%;
}
.proyectos__grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: auto;
    max-width: 1300px;
    gap: 12px;
}
.proyectos {
    display: grid;
    place-content: center;
    color: var(--colorBG);
    background: linear-gradient(to bottom, 
    var(--colorBgSec) 0%,
    var(--colorButton) 60%,         
    var(--buttonHover) 100%);
    text-shadow: 2px 2px 2px #333;
    box-shadow: 0px 2px 10px var(--hoverShadow);
    transition: background 5s ease, box-shadow 0.5s ease;
    position: relative;
    margin: auto;
    padding: 5px;
    width: 100%;
    min-height: 100%;
    text-decoration: none;
    border-radius: 8px;
    z-index: 2;
}
.proyectos p{
    letter-spacing: 1.5px;
}
.proyectos__iconos i {
    margin-right: 5px;
    font-size: 24px;
}
.proyectos--desarrollando {
    background-color: var(--colorButton);
    opacity: 1;
}
.gear {
    font-size: 100px;
    animation: gearSpin 10s linear infinite;
}
.proyecto--seis p, div {
    z-index: 3;
}
.proyectos--seis:hover {
    box-shadow: 1px 1px 12px var(--hoverShadow);
}
.proyectos--seis::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, 
    var(--hoverShadow) 0%,
    var(--buttonHover) 70%);
    opacity: 0;
    transition: opacity 1s ease;
    border-radius: 8px;
    z-index: 1;
}
.proyectos--seis:hover::before {
    opacity: 1;
}





  /*-----------------------------------------------------*/
 /*----------- Estilos de Sobre mi ---------------------*/
/*-----------------------------------------------------*/
.sobre-mi__wrapper{
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% contain 50%;
    width: 100%;
    background: linear-gradient(to bottom, 
    var(--colorBG) 0%,       
    #20b2aa66 30%,   
    var(--colorBG) 100%);
/* }
.profile__img-container {
    height: auto;
    overflow: hidden;
}
.img__profile {
    height: 100%;
    object-fit: cover;
} */
.profile__data-container {
    /* background-color: #20b2aa44;
    border-radius: 12px; */
    width: 600px;
    max-width: 100%;
    padding: 30px;
}
.profile__data-container h2 {
    margin: 0 0 20px 0;
    font-size: clamp(28px, 2vw, 40px);

}
.profile__skills-container {
    letter-spacing: 0.5px;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% contain 50%;
}
.profile__skills-container ul {
    padding: 0;
    margin: 0;
}
.profile__skills {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    list-style: none;
    width: 95%;
    margin: 5px;
}
.load__bar {
    border: 1px solid var(--colorBgSec);
    border-radius: 8px;
    padding: 2px;
    width: 100%;
    margin: 4px;
    text-align: center;
    margin: 5px;
    transition: border 1s ease, box-shadow 1s ease;
}
.load {
    background-color: var(--colorBgSec);
    color: var(--colorBG);
    border-radius: 4px;
    padding: 4px 6px;
    transition: background-color 1s ease;
}
.load__barDW.hovered {
    border: 1px solid var(--buttonHover);
    box-shadow: 2px 2px 6px var(--hoverShadow);
}
.loadDW.hovered {
    background-color: var(--buttonHover);
}
.load__herr {
    margin: 0 clamp(0px, 0.2vw, 5px);
}
.bar30 {
    width: 30%;
}
.bar40 {
    width: 40%;
}
/* ----- Certificaciones ------ */
.certificados__container {
    min-height: 40dvh;
    letter-spacing: 0,5px;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% contain 30%;
}
.collapse ul{
    padding: 0;
}
.collapse ul li {
    list-style: none;
    margin-top: 20px;
}
.collapse ul li a {
    text-decoration: none;
    color: var(--colorP);
    letter-spacing: 1px;
    color: var(--colorButton);
    text-shadow: 1px 1px 22px var(--colorBgSec);
}
.collapse ul li a:hover {
    color: var(--buttonHover);
    text-shadow: 1px 1px 22px var(--hoverShadow);
}
.collapse ul li a p{
    margin-top: 5px;
}
.certificados__web, .certificados__design {
    margin: 20px;
}

.btn--web , .btn--design {
    width: 250px;
    background-color: var(--colorButton);
    box-shadow: 2px 2px 8px var(--colorH);
    text-shadow: 2px 2px 8px var(--colorP);
    transition: background-color 1s ease, box-shadow 1s ease;
}

.btn--web:hover , .btn--design:hover {
    background-color: var(--buttonHover);
    box-shadow: 2px 2px 8px var(--hoverShadow);
    color: var(--colorBG);
}





/*--------------  Queries de Sobre mi -------------------*/
/*------ Formulario -----*/
.form {
    padding-bottom: 12px;
    background-color: var(--colorBgSec);
    color: var(--colorBG);
    border-radius: 12px;
    width: 80%;
    max-width: 800px;
    margin: auto;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% contain 50%;
}
#nombre, #email, #mensaje {
    background-color: var(--colorBG); 
    color: var(--colorP); 
}

.invalid-feedback {
    color: var(--colorP);
}
.honeypot {
    display: none; /* Oculta el campo honeypot para los usuarios */
}
.btn--submit{
    background-color: var(--colorButton);
    color: var(--colorBG);
    box-shadow: 1px 1px 12px var(--colorH);
    transition: background-color 1s ease, box-shadow 1s ease;
}
.btn--submit:hover {
    background-color: var(--buttonHover);
    box-shadow: 1px 1px 8px var(--colorBG);
}
/* Cambiar el color de fondo de los campos de entrada form */
#nombre:focus, #email:focus, #mensaje:focus {
    border: 2px solid var(--buttonHover);
}
/*------ Fin de la sección sobre mi ------*/





/*------ Espaciador --------*/
.espaciador {
    height: 100px;
    background: linear-gradient(to top, 
    var(--colorButton) 0%,       
    var(--colorBG) 100%);
}
  /*---------------------------------------*/
 /* -------Sección del footer ------------*/
/*---------------------------------------*/
.footer {
    background: linear-gradient(to top, 
    var(--colorH) 0%,
    var(--colorBgSec) 50%,          
    var(--colorButton) 100%);
    color: var(--colorBG);
    width: 100%;
    padding-top: 50px;
}
.footer h4 {
    color: var(--colorBG);
}
.footer__redes-container {
    width: 400px;
}
.footer__icon-container {
    position: relative;
}
/* Prueba de tooltip*/
.footer__icon {
    font-size: 40px;
    color: var(--colorBG);
}
/* Estilos del tooltip */
.tooltip {
    visibility: hidden; /* Oculto por defecto */
    background-color: var(--hoverShadow); /* Color de fondo del tooltip */
    color: var(--colorBG); /* Color del texto */
    text-align: center;
    padding: 0.5rem;
    /* Borde transparente para que el gradiente se vea bien con el border-radius */
    border: 2px solid transparent; 
    border-radius: 12px;
    /* Usamos background-clip y un gradiente para el borde */
    background-clip: padding-box; /* Para que el fondo no cubra el borde */
    background: linear-gradient(var(--hoverShadow), var(--hoverShadow)) padding-box, linear-gradient(to bottom, var(--colorBG), var(--buttonHover)) border-box;
    position: absolute;
    bottom: 150%; /* Ajusta la posición por encima del icono */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.8s ease;
    z-index: 10;
    white-space: nowrap; /* Evita que el texto del tooltip se corte en varias líneas */
}
/* Flecha del tooltip */
.tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Coloca la flecha debajo del tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--hoverShadow) transparent transparent transparent; /* Crea la flecha con el mismo color que el tooltip */
}
/* Mostrar el tooltip al hacer hover en el icono */
.footer__icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
/* */
.footer__icon:hover {
    color: var(--hoverShadow);
}
.btn--cv {
    background-color: var(--colorH);
    box-shadow:  1px 1px 12px var(--colorBG);
    border-radius: 15px;
    width: 200px;
    max-height: 50px;
}
.btn--cv a {
    text-decoration: none;
    color: var(--colorBG);
}

.btn--cv:hover {
    background-color: var(--buttonHover);
    box-shadow: 2px 2px 8px var(--hoverShadow);
}
.btn--cv a:hover {
    color: var(--colorBG);
}
/*--------------------------------------------------------------*/





  /*------------------------------------------------------*/
 /*---------- Sección de las media querys----------------*/
/*------------------------------------------------------*/
/*---- Media Queries del Hero section ----*/
@media (min-width: 768px) {
    .hero__img-profile-container {
        height: 750px;
        max-height: 100%;
    }
    .img__profile {
        max-height: 100%;
        width: 380px;
    }
    .img-profile__fondo {
        height: 70%;
        border-radius: 45% 45% 0 0;
    }
    .hero__disponibilidad {
        margin: auto;
    }
    .hero__primary {
        margin: auto;
    }
}
@media (min-width: 1024px) {
    .img__profile {
        width: 426px;
    }
}
@media (min-width: 1440px) {
    .hero__img-profile-container {
        height: 870px;
    }
    .img__profile {
        width: 600px;
    }
}
/* querys de disponibilidad */
@media (min-width: 768px) {
    @keyframes expandBaseBGSmall { /*--- Expandir el fondo de la base de la img del hero */
        0% {
            width: 0%;
            opacity: 0.1;
            color: transparent;
        }
        90% {
            width: 90%;
            opacity: 1;
            color: transparent;
        }
        100% {
            width: 90%;
            opacity: 1;
            color: var(--colorBG);
        }
    }
    .hero__disponibilidad {
        animation: expandBaseBGSmall 0.5s ease-in forwards;
    }
}
/* Media query de proyectos */
@media (min-width: 768px) {
    .proyectos__grid {
        grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
        gap: 40px;
    }
    .proyectos--uno {
        grid-column: span 2;
    }
    .proyectos--seis {
        grid-column: span 2;
    }
}
@media (min-width: 1024px) {
    .proyectos__grid {
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    }
    .proyecto--uno {
        grid-column: span 2;
        grid-row: span 2;
    }
    .proyecto--seis {
        grid-column: span 4;
    }
}
@media (min-width: 1200px) {
    .proyectos__grid {
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    }
    .proyectos--uno {
        grid-column: span 2;
        grid-row: span 2;
    }
    .proyectos--seis {
        grid-column: span 4;
    }
}
/* Querys de sobre mi */
@media (max-width: 768px) {
    .profile__img-container {
        height: auto;
        flex: 1;
        max-height: 100%; 
    }
    .profile__img {
        height: 100%;
        max-height: 100%;
        object-fit: cover;
        width: auto;
    }

    .profile__data-container {
        flex: 1;
        padding: 20px;
    }
}
/* Querys del footer */
@media (max-width: 768px) {
    .footer__redes-container {
        max-width: 50%;
    }
}
/*--------------------------------------------------------------*/





  /*------------------------------------------------------*/
 /*---------- Sección de los keyframes-------------------*/
/*------------------------------------------------------*/
@keyframes adaptNav { /*---- Adaptacion del navbar ---*/
    0% {
        background-color: var(--colorBG);
        color: var(--colorButton);
    }
    100% {
        background-color: #26aa;
        color: var(--colorBG);
    }
}
/* keyframes de hero section */
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes expandBackground { /*expandir el fondo */
    0% {
        width: 0%;
        height: 0%;
        opacity: 0;
    }
    100% {
        width: 90%;
        height: 80%;
        opacity: 1;
    }
}
@keyframes expandBaseBG { /*--- Expandir el fondo de la base de la img del hero */
    0% {
        width: 0%;
        opacity: 0.1;
        color: transparent;
    }
    90% {
        width: 90%;
        opacity: 1;
        color: transparent;
    }
    100% {
        width: 100%;
        opacity: 1;
        color: var(--colorBG);
    }
}
/* Keyframes de proyectos */
@keyframes gearSpin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*--------------------------------------------------------------*/