* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
p {
    font-size: 14px;
}
body{
    display: flex;
    flex-direction: column;
    width: 2600px;
    max-width: 100dvw;
    height: 2100px;
    max-height: 100dvh;
    background-color: #48e;
    color: #eee;
    padding-top: 70px;
}
/* -------- Seccion del navbar ------------*/
nav {
    background-color: #48e;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 5px 10px 5px 0 ;
}
.navbar-collapse {
    width: 100%;
}
.navbarIcon {
    width: 50px;
}
.navLink {
    color: #eee;
    text-decoration: none;
}
/* --------- Seccion principal ----------- */
main {
    flex: 1;
}
.carrousel {
    max-width: 100%;
    z-index: 0;
}
.carrouselImg {
    max-height: 500px;
}
#carouselLarge1, #carouselLarge2, #carouselLarge3 {
    display: none;
}
.profileContainer {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    margin: auto;
    width: 500px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profileContainer H1 {
    text-shadow: 2px 2px 10px #333;
    text-align: center;
}
.profileImg {
    width: 150px;
    margin: 20px 0 20px 0;
}
/* ------------ Seccion de disponibilidad --------- */
.disponibilidadSeccion {
    background-color: #eee;
    color: #48e;
    padding: 10px 10px 0 10px;
}
.freelancerIcon {
    width: 20px;
}
.contratoIcon {
    width: 20px;
}
/* ------------ Seccion de Servicios -------- */
.serviciosWD , .serviciosDW {
    background-color: #34e8;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
}
.serviciosIconContainer {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: flex-start;
}
.servicioIcon {
    width: 30px;
    padding-top: 20px;
    color: #eee;
}
.serviciosContent {
    width: 90%;
    padding: 0 30px 0 0;
}
/* -------Sección del footer ----------*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}
.footerIcon {
    width: 30px;
}
.footerButton {
    background-color: #34e8;
    border: 1px solid #333;
    color: #eee;
    border-radius: 15px;
}
/* ---------- Queries de Home  --------------------*/
/* ---- Seccion del navbar ---------*/
@media (min-width: 1024px) {
    .navLink {
        padding: 10px;
    }
}
/* ---- Medias del Carrousel --- */
@media (min-width: 1024px) {
    #carouselLarge1, #carouselLarge2, #carouselLarge3 {
        display: block;
    }
    #carouselSmall {
    display: none;
    }
}
/* ---------------- Seccion de disponibilidad ------------*/
@media (min-width: 768px) {
    .disponibilidadSeccion {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
/* ------------------ Seccion de servicios ------------------*/
@media (min-width: 768px) {
    .servicios {
        display: flex;
        flex-direction: row;
    }
}











/*-------------------------------------------------------------*/
/* ----------------  Estilo de Proyectos ------------------*/

/* Estilo para dispositivos móviles (1 columna) */
.portfolioWrapper {
    max-width: 100dvw;
    min-height: 100dvh;
}
.proyectosContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 30px 0;
}
.proyectosGrid {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: auto;
    max-width: 1300px;
    gap: 12px;
}
.proyecto {
    display: grid;
    place-content: center;
    color: #eee;
    text-shadow: 2px 2px 2px #333;
    border-radius: 8px;
    box-shadow: 0px 2px 10px #333;
    text-align: center;
    margin: auto;
    padding: 5px;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(#3339, #3339), url(../images/carousel/mafiaCat.jpg);
    background-position: center;
    background-size: cover;
}
.proyecto:hover {
    opacity: 0.60;
    box-shadow: 0px 2px 10px #eeee;
}
.proyectoIconos i {
    margin-right: 5px;
    font-size: 24px;
}
/* Media query de proyectos */
@media (min-width: 600px) {
    .proyectosGrid {
        grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    }
    .proyectoUno {
        grid-column: span 2;
    }
    .proyectoSeis {
        grid-column: span 2;
    }
}
@media (min-width: 1000px) {
    .proyectosGrid {
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    }
    .proyectoUno {
        grid-column: span 2;
        grid-row: span 2;
    }
    .proyectoSeis {
        grid-column: span 4;
    }
}







/*-----------------------------------------------------*/
/*----------- Estilos de Sobre mi --------------------*/
.sobreMiWrapper {
    text-align: center;
}
.profile {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}
.profileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.profileImgContainer {
    max-height: 400px;
    overflow: hidden;
}
.profileImgContainer img {
    width: 100%;
    max-width: 600px;
}
.profileDataContainer {
    width: 600px;
    max-width: 100%;
    padding: 12px;
}
.profileDescription p {
    text-align: center;
}
.profileSkillsContainer {
    margin: auto;
}
.profileSkillsContainer ul {
    padding: 0;
    margin: 0;
}
.profileSkill {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    list-style: none;
    width: 95%;
    margin: 5px;
}
.loadBar {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 2px;
    width: 100%;
    margin: 4px;
    text-align: center;
    margin: 5px;
}
.load {
    background-color: #eee;
    color: #48e;
    border-radius: 4px;
    padding: 4px 6px;
}
.bar10 {
    width: 15%;
}
.bar0 {
    width: 8%;
}
.bar30 {
    width: 30%;
}
.bar40 {
    width: 40%;
}
.bar60 {
    width: 60%;
}
/* ----- Seccion de certificaciones ------ */
.certificadosSection {
    margin: 20px;
}
.collapse {
    margin-top: 10px;
    align-items: center;
}
.collapse ul{
    padding: 0;
}
.collapse ul li {
    list-style: none;
}
.collapse ul li a {
    text-decoration: none;
    color: #eee;
}
.certificadosWeb, .certificadosDiseño {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
/*--------------  Queries de Sobre mi -------------------*/
@media (min-width:600px) {
    .profileWrapper {
        flex-direction: row;
        max-height: 1100px;
        height: 100%;
        width: 95%;
        margin: auto;
        background-color: #26b;
        border: 1px solid #eee;
        border-radius: 8px;
    }
    .profileImgContainer {
        height: 100%;
        max-height: 100%;

    }
    .profileImgContainer img {
        height: 100%;
        object-fit: cover;
        border-radius: 8px 0 0 8px;
    }
    .profileDataContainer {
        width: 80%;
    }
    .footer {
        margin-top: 50px;
    }
}
@media (min-width:800px) {

    .footer {
        margin-top: 200px;
    }
}