* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

p {
    font-size: 14px;
}

body{
    display: flex;
    flex-direction: column;
    width: 2600px;
    max-width: 100dvw;
    height: 2100px;
    max-height: 100dvh;
    background-color: #48e;
    color: #eee;
}

/* -------- Seccion del navbar ------------*/
nav {
    background-color: #48e;
}

.navbarIcon {
    width: 50px;
}
.navLink {
    color: #eee;
    text-decoration: none;
}

/* --------- Seccion principal ----------- */
main {
    flex: 1;
}

.carrousel {
    max-width: 100%;
    z-index: 0;
}

.carrouselImg {
    max-height: 500px;
}

#carouselLarge1, #carouselLarge2, #carouselLarge3 {
    display: none;
}

.profileContainer {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    margin: auto;
    width: 500px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profileContainer H1 {
    text-shadow: 2px 2px 10px #333;
    text-align: center;
}

.profileImg {
    width: 150px;
    margin: 20px 0 20px 0;
}

/* ------------ Seccion de disponibilidad --------- */

.disponibilidadSeccion {
    background-color: #eee;
    color: #48e;
    padding: 10px 10px 0 10px;
}

.freelancerIcon {
    width: 20px;
}
.contratoIcon {
    width: 20px;
}

/* ------------ Seccion de Servicios -------- */
.serviciosWD , .serviciosDW {
    background-color: #34e8;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
}

.serviciosIconContainer {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: flex-start;

}
.servicioIcon {
    width: 30px;
    padding-top: 20px;
    color: #eee;
}

.serviciosContent {
    width: 90%;
    padding: 0 30px 0 0;
}



/* -------Sección del footer ----------*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}


.footerIcon {
    width: 30px;
}

.footerButton {
    background-color: #34e8;
    border: 1px solid #333;
    color: #eee;
    border-radius: 15px;
}


/* --------------------------------------------------------------------*/
/* ---------------- Seccion de media Querys ---------------------------*/

/* ---- Seccion del navbar ---------*/
@media (min-width: 1024px) {
    .navLink {
        padding: 10px;
    }
}

/* ---- Medias del Carrousel --- */
@media (min-width: 1024px) {
    #carouselLarge1, #carouselLarge2, #carouselLarge3 {
        display: block;
    }

    #carouselSmall {
    display: none;
    }
}


/* ---------------- Seccion de disponibilidad ------------*/
@media (min-width: 768px) {
    .disponibilidadSeccion {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* ------------------ Seccion de servicios ------------------*/

@media (min-width: 768px) {
    .servicios {
        display: flex;
        flex-direction: row;
    }
}

/*-------------------------------------------------------------------------*/
/* -----------------------  Estilo de Proyectos ---------------------------*/

/* Estilo para dispositivos móviles (1 columna) */
.portfolioWrapper {
    min-height: 100dvh;
}

.proyectosContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.proyectosGrid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
}

.proyecto {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 5px auto;
}

.proyectoIconos i {
    margin-right: 5px;
    font-size: 24px;
}


/* Media query para pantallas más grandes */


